/*reseteo de valores*/

*{
    margin: 0;
    padding: 20;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/*configuracion de variables*/
:root{
    --main-color: #f1cfe9;
    --secondary-color: #161516;
    --third-color: #aa1c8b;
    --third-color-t: #d433ccbc;
    --four-color: #be3f9fbe;
}
/*estilos del body*/
body{   
    font-family: 'Nunito', sans-serif;
    background-color: var(--secondary-color);
    color: var(--main-color);
}
/*generalidades*/
h1{
    padding: auto;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 3px 3px 5px #9c0e6d;
   
}
h2{
    font-size: 2.rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 3px 3px 5px #9c0e6d;
}
header,footer{
    background-image:  linear-gradient(to right top, #1e0537, #3a155c, #592582, #7b36ab, #a047d5);
    color: var(--main-color);
    padding: 10px;

}
    
/* nav {
    display: block;
    unicode-bidi: isolate;
}

.header{
    height: 15vh;
    position:sticky;
    top:0; 
    z-index: 10;  */
    /* nav{
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: var(--main-color);
            font-size:1.6rem;
        }
        ul{
            list-style: none;
            display:flex;
            column-gap: 20px;
            a{
                font-size:1.4rem;
            }
           
        }
    } */
/* } */

/*main
estilos seccion principal
*/
.sectionTitulos{
    height: 90vh;
    background:linear-gradient(to bottom, #000000a3, #000000a3),url("../img/imagenprincipal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .contenedorTitulos{
        text-align: center;
        /*efecto blur a un contenedor*/
        /* backdrop-filter: blur(8px); */
        width: 60%;
        margin:0 auto;
        border-radius: 5px;
        a{
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            color:var(--main-color);
            font-size: 2rem;
            border:2px solid var(--main-color);
            border-radius: 5px;
            padding:10px 20px;
        }
    }
}
.peliculasTendencias{
    width: 80%;
    margin:0 auto;
    text-align: center;
    h2{
        margin-top:50px;
        margin-bottom:20px;
    }
    .galeriaTendencias{
        display:flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        div{
            width: 250px;
            height: 350px;
            box-shadow: 10px 10px 47px -6px rgba(255,255,255,0.42);
            border-radius: 5px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
    button{
      /*  margin-bottom:20px; */
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
       background-color: #050001;
       color: #ffffff;
       background-color: #971b6ebc; 
    }
}
/*estilos de section peliculas aclamadas*/
.peliculasAclamadas{
    width: 80%;
    margin:0 auto;
    margin-bottom: 20px;
    text-align: center;
    h2{
        margin-top:50px;
        margin-bottom:20px;
    }
    .galeriaAclamadas{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        column-gap: 30px;
        div{
            width: 220px;
            height: 350px;
            flex-shrink: 0;
            box-shadow: 10px 10px 47px -45px rgba(255,255,255,0.29);
           
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
}
.sectionTitulos2 {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64))center center / cover no-repeat, url(../img/bg-register.jpg);
    background-position: center center;
}
/*estilos del header*/
@media (max-width: 700px){
    header{
        nav{
            flex-direction: column;
            row-gap: 20px;
        }
    }
}
@media screen and (max-width: 700px) {
    .sectionTitulos {
        .contenedorTitulos {
            height: 90vh;
            width: 100%;
            backdrop-filter: initial;
            background:linear-gradient(to bottom, #000000a3, #000000a3),url("../img/imagenprincipal2.jpg");
            background-size: cover;
            justify-content: center;
            align-items: center;
        }
    }
}
/* input:focus {
    border: 2px solid deeppink;
    background: rgb(255, 224, 224);
    outline: none;
    box-shadow: 0 0 8px rgba(red, green, blue, alpha);
} */
@media screen and (max-width: 400px) {
    .peliculasAclamadas {
        .galeriaAclamadas {
            width: 100%;
            backdrop-filter: initial;
    
        }
    }
}
.error-text {
    color: #ff0000;
    font-size: 0.4rem;
    margin-top: 0px;
    margin-bottom: 05px;
    
}
.error-message {
    color: rgb(164, 13, 13);
    font-size: 11px;
    margin-top: 5px;
}
.seccionBusqueda{   
    height: 15vh; 
    margin-top: 20px;   
    margin-bottom: 20px;  
    .contenedorBusqueda{
        text-align: center;
        
        input{            
            border-radius: 20px;              
            padding: 0px 20px; 
            font-size: 1rem;
            color: var(--main-color);
            height: 40px;
        }
        .inputBuscador{            
            background-color: var(--third-color);  
            border: 2px solid var(--secondary-color);          
            width: 450px;

            &:focus {
                border: 2px solid rgb(0, 9, 12);
                border: var(--secondary-color);
                background: rgb(10, 1, 1);
                outline: none;
                box-shadow: 0 0 8px rgba(211, 9, 134, 0.5);
              }
        }
        
        .btnBuscador{
            background-color: var(--color-secundario);
            border: 2px solid var(--color-cuarto);
            color: var(--color-cuarto);
            width: 100px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 800px) {
    .seccionBusqueda{
        .contenedorBusqueda{
            .inputBuscador{    
                width: 300px
            }
        }
    }
}

.sectionDetalles {
    /* height: 90vh; */
    background:linear-gradient(to bottom, #000000a3, #000000a3),url("../img/mario-bg.jpg");
    background-position: center;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    display: flex;
    /* justify-content: center; */
   /*  align-items: center; */
    }
    @media screen and (max-width: 500px) {
        .sectionDetalles {
            .contenedorTitulos {
                width: 100%;
                backdrop-filter: initial;
                background:linear-gradient(to bottom, #000000a3, #000000a3),url("../img/mario-bg.jpg");
                display: flex;
        
            }
        }
    }
    @keyframes float {
        0% {
          transform: translateX(0);
        }
        60% {
          transform: translateX(6px);
        }
        0% {
          transform: translateX(0);
        }
      }
.animacion {
        animation: float 2s infinite;
      }
      